doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bittrex.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js')
    script(src='https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js')
    script(src='/javascripts/bittrex.js')
  body
    svg(id='line-chart')
