doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bittrex.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='http://momentjs.com/downloads/moment.min.js')
    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='https://code.highcharts.com/stock/modules/exporting.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.3/js/themes/dark-unica.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(src='/javascripts/bittrex.js')
  body
    div(id='line-chart')
